body {
  background-color: rgb(255, 255, 255);
  font-weight: 300;
}

.twitch-embed{
  background-color: black;
}
header {
  padding: 20px 0;
}
.top {
  background-color: rgb(196, 129, 28);
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: black;
  text-shadow: .5px .5px .5px #706f71;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  padding: 0 20px;
  margin: 0;
  color: black;
  text-shadow: .5px .5px .5px #1f007d;
  font-size: 20px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url();
  background-size: cover;
  color: #eee;
  height: 500px;
  text-shadow: 4px 4px 4px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #a94442;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #a94442;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #b10012;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #b10012;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}